name: Build Synapse

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        run: aws ecr get-login-password | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

      - name: Build
        run: docker build -t dailyfix-synapse ./services/matrix-synapse

      - name: Tag
        run: docker tag dailyfix-synapse:latest ${{ secrets.ECR_URI }}/dailyfix-synapse:latest

      - name: Push
        run: docker push ${{ secrets.ECR_URI }}/dailyfix-synapse:latest
